{% extends "base.html" %}
{% block title %}File Sharing Service{% endblock %}
{% block extra_head %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
          integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"/>
{% endblock %}
{% block body_base %}
    {% load crispy_forms_tags %}

    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <div id="response" class="my-4"></div>
                <form class="my-4" method="post" enctype="multipart/form-data" autocomplete="off">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary float-right">Submit</button>
                </form>

            </div>

        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
            integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    <script>

        $(document).on("submit", "form", function (event) {
            event.preventDefault();
            $.ajax({
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                dataType: "JSON",
                data: new FormData(this),
                processData: false,
                contentType: false,
                success: function (data, status) {
                    if (data) {
                        $('#response').empty().append(
                            '<div class="alert alert-success">\n' +
                            '                        <h4 class="alert-heading">Done!</h4>\n' +
                            '                        <p>Link: ' + data.link + '</p>\n' +
                            '                        <p><a class="btn btn-info" href="' + data.file_page + '">File page</a></p>\n' +
                            '                    </div>'
                        )
                        $("form")[0].reset();
                    }
                },
                error: function (xhr, desc, err) {
                    $.each(xhr.responseJSON, function (key, value) {
                        console.log("Error\n" + value);
                        $('#response').empty().append(
                            '<div class="alert alert-danger">\n' +
                            '  <p>Error</p>\n' +
                            '  <p>' + value + '</p>\n' +
                            '</div>'
                        );
                    });
                }
            });
        });
    </script>
    <script>
        $(function () {
            $("#id_expires_at").datetimepicker({
                format: 'd/m/Y H:i',
            });
        });
    </script>
{% endblock %}
